DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=mcpforge
#PORT=5190
PORT=8443
DEEPFLOW_SERVICE_URL=http://localhost:5111
K8S_API_HOST=https://localhost:6443
K8S_BEARER_TOKEN=
# GITHUB AUTH
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:8443/user/auth/github/callback
FRONTEND_URL=http://localhost:3000,https://mcpforge-eth-beijing.netlify.app
# 可以设置多个前端 URL，用逗号分隔
# ADDITIONAL_FRONTEND_URLS=https://your-app.netlify.app,https://staging.netlify.app

# 自定义域名正则表达式模式，用逗号分隔
# ALLOWED_DOMAIN_PATTERNS=^https?://.*\.yourdomain\.com$,^https?://.*\.staging\.com$

# ENV
NODE_ENV=development
# HTTPS 设置（仅在使用 HTTPS 时需要）
# HTTPS=true
# SSL_ENABLED=true